doctype html
html
	head
		meta(content="charset=utf-8")
		title SADAKO
		link(href='//fonts.googleapis.com/earlyaccess/mplus1p.css')
		link(href='styles.css', rel='stylesheet')
	body
		div.wrapper
			header
				div.header-text
					h1 Welcome to SADAKO VILLAGE
					p The bestest village to die
				nav
			div.content
				article
				aside
