doctype html
html
	include mixins.pug
	
	head
		meta(content="charset=utf-8")
		title Ammelie Neth - Front End Developer
		link(href="https://fonts.googleapis.com/css?family=Arimo:400,400i|Playfair+Display:400,900&amp;subset=latin-ext" rel="stylesheet")
		link(href="styles.css", rel="stylesheet")
	body
		div.wrapper
			+screen("intro")
				header
					nav
					div.header-text
						h1 Hi
						p It me.
			+screen("about")
			+screen("portfolio")
			+screen("contact")
			
