doctype html
html
	include mixins.pug
	
	head
		meta(content="charset=utf-8")
		title Ammelie Neth - Front End Developer
		link(href="//fonts.googleapis.com/earlyaccess/mplus1p.css")
		link(href="styles.css", rel="stylesheet")
	body
		div.wrapper
			+screen("intro")
				header
					div.header-text
						h1 Hi
						p It me.
					nav
			+screen("about")
			+screen("portfolio")
			+screen("contact")
			
