@import "reset"

$x: peachpuff
$y: lavender
$z: skyblue

=flex-col($alignment)
	display: flex
	flex-flow: column nowrap
	align-items: $alignment

=flex-row($alignment)
	display: flex
	flex-flow: row wrap
	align-items: $alignment



.wrapper
	margin: 0 auto
	background: $x
	width: 50vw
	height: 100vh
	+flex-col(stretch)

header
	height: 20%
	text-align: center
	+flex-col(stretch)

	.header-text
		height: 70%
		+flex-col(center)
		justify-content: center

	nav
		background: $y
		height: 30%

.content
	background: $z
	width: 100%
	height: 80%
	+flex-row(stretch)

	article
		background: $x
		width: 70%

	aside
		background: $z
		width: 30%
