@import "reset"

//   COLORS   //
$accent: #F2545B
$blue: #133C55
$grey: #364359
$menu: #202C39
$background: #011C27
$text: #EAEBED


//  FONT STYLES   //
=header
	font-family: 'Playfair Display', serif

=paragraph
	font-family: 'Arimo', sans-serif


//   FLEX MIXINS   //
=flex-col($alignment)
	display: flex
	flex-flow: column nowrap
	align-items: $alignment

=flex-row($alignment)
	display: flex
	flex-flow: row wrap
	align-items: $alignment


//   SASS MAGIC   //
body
	background: $background
	font-size: 16px
	color: $text
	text-align: left

.wrapper
	+flex-col(stretch)
	margin: 0 auto
	@media(min-width: 1000px)
		width: 80vw
	@media(min-width: 1300px)
		width: 70vw
	@media(min-width: 1600px)
		width: 50vw

header
	+flex-col(stretch)
	.header
		
	nav
		background: $menu
		height: 10vh

.screen
	height: 100vh
	border: 1px solid $accent
