@import "reset"

/********************/
/*		COLORS		*/
/********************/
$accent: #F2545B
$blue: #133C55
$grey: #364359
$background: #011C27
$text: #EAEBED


/****************************/
/*		GENERAL LAYOUT		*/
/****************************/
body
	display: flex
	flex-flow: column nowrap
	align-items: center

.screen
	min-height: 100vh
	margin: 0 10vw
	@media (min-width: 950px)
		margin: 0
		width: 90vw

.screen-intro, .screen-about, .about-text
	display: flex
	flex-flow: column nowrap
	justify-content: center

.screen-about
	@media (max-width: 800px)
		padding: 3rem 0 6rem


/****************************/
/*		ABOUT LAYOUT		*/
/****************************/
.about-content
	display: flex
	flex-flow: column nowrap
	align-items: center
	@media (min-width: 800px)
		flex-flow: row nowrap
		justify-content: center

.about-text
	@media (min-width: 800px)
		max-width: 40vw

.portrait-container
	display: grid
	grid-template-columns: 1fr
	grid-template-rows: 1fr
	margin-top: 2rem
	@media (min-width: 800px)
		margin: 0 0 0 2rem

.portrait
	grid-column: 1
	grid-row: 1

.hidden-portrait
	grid-column: 1
	grid-row: 1



/****************************/
/*		RESUME LAYOUT		*/
/****************************/
.resume-content
	display: grid
	grid-row-gap: 1rem

@media (min-width: 950px)
	.resume-columns
		display: flex
		justify-content: space-between

	.resume-content
		width: 41vw

	.short-info
		display: grid
		grid-template-columns: 1fr 1fr
		grid-column-gap: 80px



/****************************/
/*		CONTACT LAYOUT		*/
/****************************/
.screen-contact
	display: flex
	flex-flow: column nowrap
	justify-content: center
	text-align: center

	.links
		display: grid
		grid-template-columns: auto auto
		@media (min-width: 725px)
			grid-template-columns: auto auto auto auto



/****************************/
/*		GLOBAL STYLING		*/
/****************************/
body
	font-family: 'Assistant', sans-serif
	background: $background
	font-size: 16px
	color: $text

h1, h2, h3, h4, h5, h6, .short-info
	font-family: 'Playfair Display', serif

h1
	font-size: 4.7rem
	@media (min-width: 550px)
		font-size: 6rem

h2
	font-size: 1.8rem
	margin-bottom: 2rem
	@media (min-width: 550px)
		font-size: 3rem

h3
	font-size: 1.7rem

p
	font-size: 1rem
	line-height: 1.3rem
	margin-bottom: 1rem

a
	color: $accent
	text-decoration: none

a:hover
	color: $text

p a
	font-weight: bold



/************************/
/*		INTRO NAV		*/
/************************/
nav ul li
	margin-bottom: 1rem
	text-transform: capitalize



/************************/
/*		BACK ARROW		*/
/************************/
.go-back
	color: $text
	float: right
	position: fixed
	right: 3%
	bottom: 3%
	opacity: 0
	transition: opacity 1s

.go-back i
	background: $grey
	border-radius: 50%
	line-height: 3rem

.go-back.make-visible
	opacity: 1



/****************************/
/*		ABOUT PORTRAIT		*/
/****************************/
.portrait
	height: auto
	width: 300px
	border-radius: 50%

.hidden-portrait
	opacity: 0
	transition: opacity 0.8s

.hidden-portrait.smile
	opacity: 1



/****************************/
/*		RESUME STYLES		*/
/****************************/
.screen-resume h2
	padding-top: 3rem

.resume-column-header
	margin-top: 3rem
	margin-bottom: 2rem
	padding: 20px 0 20px 0
	border-top: 1px solid $accent
	border-bottom: 1px solid $accent

.resume-description
	margin-bottom: 3rem

.resume-entry
	border-bottom: 1px solid $blue

.resume-entry:last-of-type
	border: none

.resume-entry ul
	list-style: disc
	line-height: 1.3rem

.resume-entry .short-info *
	line-height: inherit
	margin-bottom: 1rem

@media (min-width: 950px)
	.resume-entry .short-info *
		min-height: 1.5rem

	.short-info *:nth-child(odd)
		text-align: left

	.short-info *:nth-child(even)
		text-align: right



/****************************/
/*		CONTACT STYLES		*/
/****************************/
.links
	a, div
		margin: 1rem 2rem
	div
		width: 80px
