+resume-entry(
'Language Specialist',
'Booking.com',
'February 2016 – May 2016',
'Stockholm, Sweden',
'Worked in a team of language specialists, translating and localizing the Booking.com website, apps and print material from UK English to Swedish. Other tasks included regularly checking the quality of translation, and managing contact with freelance translators.'
)

+resume-entry(
	'QA Tester',
	'LocTeam',
	'March 2015 – February 2016',
	'Madrid, Spain',
	'Worked at the office of one of LocTeam\'s clients, where I tested the Swedish version of a software product, reported and followed up on issues.',
	'Tested the product hands-on to find functionality and localization issues',
	'Reported, managed and verified issues using the client\'s own bug tracking tool',
	'Assessed the overall status and shippability of the product on a regular basis',
	'Escalated issues that needed to be prioritized'
)

+resume-entry(
	'Localization Tester',
	'Electronic Arts',
	'June – July 2014 & \nJanuary – March 2015',
	'Madrid, Spain',
	'Tested localized video games for PC and iOS, as well as EA\'s website Origin.',
	'Corrected translation issues by editing the text directly in the internal databases',
	'Ensured compliance with first party terminology guidelines',
	'Reported, managed and verified bugs using various bug trackers'
)
